<a href="https://colab.research.google.com/github/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/blob/main/Projeto_Ciencia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importação das bibliotecas utilizadas no projeto

In [12]:
import pandas as pd

# Carregamento das bases de dados

> ## [Base de dados de doenças cardíacas](https://ieee-dataport.org/open-access/heart-disease-dataset-comprehensive)

>> <p align= "justify">Este conjunto de dados de doenças cardíacas foi feito a partir da combinação de 5 conjuntos de dados populares de doenças cardíacas já disponíveis de forma independente. Este conjunto de dados é combinado em 11 características comuns, o que o torna o maior conjunto de dados de doenças cardíacas disponível até agora para fins de pesquisa. Os cinco conjuntos de dados usados para sua criação foram:</p>

>>- Cleveland
- húngaro
- Suíça
- Long Beach VA
- Conjunto de dados Statlog (coração).

> ## [Base de dados de cancêr de mama](https://ieee-dataport.org/open-access/seer-breast-cancer-data)


>> <p align= "justify">Este conjunto de dados de pacientes com câncer de mama foi obtido da atualização de novembro de 2017 do Programa SEER do NCI, que fornece informações sobre estatísticas populacionais de câncer. O conjunto de dados envolveu pacientes do sexo feminino com carcinoma lobular e ducto infiltrante diagnosticados em 2006-2010. Pacientes com tamanho de tumor desconhecido, LNs regionais examinados, LNs regionais positivos e pacientes cujos meses de sobrevida foram inferiores a 1 mês foram excluídos.</p>

>## [Base de dados de diabetes](https://data.mendeley.com/datasets/wj9rwkp9c2/1)

>><p align= "justify">Os dados foram coletados da sociedade iraquiana, sendo adquiridos do laboratório do Medical City Hospital, do Centro Especializado de Endocrinologia e do Hospital Universitário Diabetes-Al-Kindy. Os dados consistem em informações médicas e análises laboratoriais.</p>

In [13]:
diabetes_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/DIABETES%20DISEASE%20UPDATED%20DATASET/Dataset%20of%20Diabetes%20.csv')
heart_disease_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/HEART%20DISEASE%20DATASET/heart_statlog_cleveland_hungary_final.csv')
breast_cancer_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/SEER%20BREAST%20CANCER%20DATA/SEER%20Breast%20Cancer%20Dataset%20.csv')

# Visualização dos dados

In [14]:
diabetes_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [15]:
heart_disease_df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [16]:
breast_cancer_df.head()

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead