<a href="https://colab.research.google.com/github/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/blob/main/Projeto_Ciencia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importação das bibliotecas utilizadas no projeto

In [119]:
import pandas as pd

# Carregamento das bases de dados

> ## [Base de dados de doenças cardíacas](https://ieee-dataport.org/open-access/heart-disease-dataset-comprehensive)

>> <p align= "justify">Este conjunto de dados de doenças cardíacas foi feito a partir da combinação de 5 conjuntos de dados populares de doenças cardíacas já disponíveis de forma independente. Este conjunto de dados é combinado em 11 características comuns, o que o torna o maior conjunto de dados de doenças cardíacas disponível até agora para fins de pesquisa. Os cinco conjuntos de dados usados para sua criação foram:</p>

>>- Cleveland
>>- húngaro
>>- Suíça
>>- Long Beach VA
>>- Conjunto de dados Statlog (coração).

> ## [Base de dados de cancêr de mama](https://ieee-dataport.org/open-access/seer-breast-cancer-data)


>> <p align= "justify">Este conjunto de dados de pacientes com câncer de mama foi obtido da atualização de novembro de 2017 do Programa SEER do NCI, que fornece informações sobre estatísticas populacionais de câncer. O conjunto de dados envolveu pacientes do sexo feminino com carcinoma lobular e ducto infiltrante diagnosticados em 2006-2010. Pacientes com tamanho de tumor desconhecido, LNs regionais examinados, LNs regionais positivos e pacientes cujos meses de sobrevida foram inferiores a 1 mês foram excluídos.</p>

>## [Base de dados de diabetes](https://data.mendeley.com/datasets/wj9rwkp9c2/1)

>><p align= "justify">Os dados foram coletados da sociedade iraquiana, sendo adquiridos do laboratório do Medical City Hospital, do Centro Especializado de Endocrinologia e do Hospital Universitário Diabetes-Al-Kindy. Os dados consistem em informações médicas e análises laboratoriais.</p>

In [120]:
diabetes_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/DIABETES%20DISEASE%20UPDATED%20DATASET/Dataset%20of%20Diabetes%20.csv')
heart_disease_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/HEART%20DISEASE%20DATASET/heart_statlog_cleveland_hungary_final.csv')
breast_cancer_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/SEER%20BREAST%20CANCER%20DATA/SEER%20Breast%20Cancer%20Dataset%20.csv')

# Visualização dos dados

In [121]:
diabetes_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [122]:
heart_disease_df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [123]:
breast_cancer_df.head()

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead

# Transformação

## Tratando os dados do dataframe de diabetes

### Ajustando valores

In [124]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [125]:
# N = não diabético, P = possivel diabético, Y = diabético
diabetes_df['CLASS'] = (diabetes_df['CLASS']
                          .replace('N ', 'N')
                          .replace('Y ', 'Y'))
diabetes_df['CLASS'].unique()

array(['N', 'P', 'Y'], dtype=object)

In [126]:
# F = female, M = male
diabetes_df['Gender'] = diabetes_df['Gender'].replace('f', 'F')
diabetes_df['Gender'].unique()

array(['F', 'M'], dtype=object)

### Removendo identificadores

In [127]:
diabetes_df = diabetes_df.drop(columns=['ID', 'No_Pation']).reset_index(drop=True)

### Removendo duplicatas

In [146]:
diabetes_df.shape

(826, 12)

In [148]:
diabetes_df = diabetes_df.drop_duplicates()
diabetes_df.shape # sem duplicatas

(826, 12)

### Removendo valores nulos

In [131]:
diabetes_df.isnull().sum()

Gender    0
AGE       0
Urea      0
Cr        0
HbA1c     0
Chol      0
TG        0
HDL       0
LDL       0
VLDL      0
BMI       0
CLASS     0
dtype: int64

### Removendo números zerados onde não faz sentido

In [132]:
diabetes_numeric_columns = []
for column in diabetes_df.columns:
  if (diabetes_df[column].dtype in ['int64', 'float64']): diabetes_numeric_columns.append(column)
print(diabetes_numeric_columns)

['AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']

In [133]:
print(f'\n3 smallest data')
display(diabetes_df.nsmallest(3, columns=diabetes_numeric_columns))
print(f'\n3 largest data')
display(diabetes_df.nlargest(3, columns=diabetes_numeric_columns))

3 smallest data

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
979      F   20   4.6  70    9.6   4.1  1.8  1.0  2.3   0.8  30.0     Y
86       F   25  10.0  35    4.0   4.3  3.5  0.8  1.3   0.8  22.0     N
1        M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N

3 largest data

    Gender  AGE  Urea   Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
617      F   79   5.2   54    9.2   6.4  3.0  1.1  4.1   1.3  30.0     Y
382      M   77   6.2   99    7.2   3.2  1.1  0.8  2.0   0.5  29.0     Y
93       F   77   5.0  106    5.4   3.9  2.1  1.2  4.2   1.1  24.0     N

In [176]:
diabetes_df.min()

Gender       F
AGE         20
Urea       0.5
Cr           6
HbA1c      0.9
Chol       0.0
TG         0.3
HDL        0.2
LDL        0.3
VLDL       0.1
BMI       19.0
CLASS        N
dtype: object

### Visualização final dos dados

In [134]:
display(diabetes_df)

    Gender  AGE  Urea   Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7   46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5   62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
4        M   33   7.1   46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
5        F   45   2.3   24    4.0   2.9  1.0  1.0  1.5   0.4  21.0     N
6        F   50   2.0   50    4.0   3.6  1.3  0.9  2.1   0.6  24.0     N
..     ...  ...   ...  ...    ...   ...  ...  ...  ...   ...   ...   ...
990      F   57   4.1   70    9.3   5.3  3.3  1.0  1.4   1.3  29.0     Y
992      M   55   3.1   39    8.5   5.0  2.5  1.9  2.9   0.7  27.0     Y
993      M   28   3.5   61    8.5   4.5  1.9  1.1  2.6   0.8  37.0     Y
994      M   69  10.3  185    7.7   4.9  1.9  1.2  3.0   0.7  37.0     Y
995      M   71  11.0   97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y

[826 rows x 12 columns]

## Tratando os dados do dataframe de doenças cardíacas

### Ajustando valores

In [135]:
heart_disease_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1190 non-null   int64
 1   sex                  1190 non-null   int64
 2   chest pain type      1190 non-null   int64
 3   resting bp s         1190 non-null   int64
 4   cholesterol          1190 non-null   int64
 5   fasting blood sugar  1190 non-null   int64
 6   resting ecg          1190 non-null   int64
 7   max heart rate       1190 non-null   int64
 8   exercise angina      1190 non-null   int64
 9   oldpeak              1190 non-null   float64
 10  ST slope             1190 non-null   int64
 11  target               1190 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 111.7 KB

In [136]:
heart_disease_df.sex = (heart_disease_df
                          .sex.replace(1, 'M')
                          .replace(0, 'F'))
heart_disease_df.sex.unique()

array(['M', 'F'], dtype=object)

In [137]:
heart_disease_df['chest pain type'] = (heart_disease_df['chest pain type']
                                        .replace(1, 'typical angina')
                                        .replace(2, 'atypical angina')
                                        .replace(3, 'non-anginal pain')
                                        .replace(4, 'asymptomatic'))
heart_disease_df['chest pain type'].unique()

array(['atypical angina', 'non-anginal pain', 'asymptomatic',
       'typical angina'], dtype=object)

In [138]:
heart_disease_df['fasting blood sugar'] = (heart_disease_df['fasting blood sugar']
                                            .replace(1, True)
                                            .replace(0, False))
heart_disease_df['fasting blood sugar'].unique()

array([False,  True])

In [139]:
heart_disease_df['resting ecg'] = (heart_disease_df['resting ecg']
                                    .replace(0, 'normal')
                                    .replace(1, 'having ST-T wave abnormality')
                                    .replace(2, 'showing probable or definite left ventricular hypertrophy by Estes\' criteria'))
heart_disease_df['resting ecg'].unique()

array(['normal', 'having ST-T wave abnormality',
       "showing probable or definite left ventricular hypertrophy by Estes' criteria"],
      dtype=object)

In [140]:
heart_disease_df['exercise angina'] = (heart_disease_df['exercise angina']
                                        .replace(1, True)
                                        .replace(0, False))
heart_disease_df['exercise angina'].unique()

array([False,  True])

#### Foi identificado apenas 1 linha com o valor 0, como demonstrado abaixo. Assim este valor desconhecido deve ser removido do dataframe

In [141]:
heart_disease_df.groupby('ST slope').count()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,target
ST slope,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,1
1,526,526,526,526,526,526,526,526,526,526,526
2,582,582,582,582,582,582,582,582,582,582,582
3,81,81,81,81,81,81,81,81,81,81,81

In [142]:
# Removing unknown value
heart_disease_df = heart_disease_df.loc[ heart_disease_df['ST slope'] != 0]
heart_disease_df['ST slope'] = (heart_disease_df['ST slope']
                                  .replace(1, 'upsloping')
                                  .replace(2, 'flat')
                                  .replace(3, 'downsloping'))
heart_disease_df['ST slope'].unique()

<ipython-input-142-9da12bbb3dd1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart_disease_df['ST slope'] = (heart_disease_df['ST slope']

array(['upsloping', 'flat', 'downsloping'], dtype=object)

In [143]:
heart_disease_df['target'] = (heart_disease_df['target']
                                .replace(1, 'heart disease')
                                .replace(0, 'normal'))
heart_disease_df['target'].unique()

<ipython-input-143-4b15e05714d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart_disease_df['target'] = (heart_disease_df['target']

array(['normal', 'heart disease'], dtype=object)

In [145]:
display(heart_disease_df)

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,M,atypical angina,140,289,False,normal,172,False,0.0,upsloping,normal
1,49,F,non-anginal pain,160,180,False,normal,156,False,1.0,flat,heart disease
2,37,M,atypical angina,130,283,False,having ST-T wave abnormality,98,False,0.0,upsloping,normal
3,48,F,asymptomatic,138,214,False,normal,108,True,1.5,flat,heart disease
4,54,M,non-anginal pain,150,195,False,normal,122,False,0.0,upsloping,normal
...,...,...,...,...,...,...,...,...,...,...,...,...
1185,45,M,typical angina,110,264,False,normal,132,False,1.2,flat,heart disease
1186,68,M,asymptomatic,144,193,True,normal,141,False,3.4,flat,heart disease
1187,57,M,asymptomatic,130,131,False,normal,115,True,1.2,flat,heart disease
1188,57,F,atypical angina,130,236,False,showing probable or definite left ventricular ...,174,False,0.0,flat,heart disease
1189,38,M,non-anginal pain,138,175,False,normal,173,False,0.0,upsloping,normal

### Removendo duplicatas

In [166]:
heart_disease_df.shape

(745, 12)

In [167]:
heart_disease_df = heart_disease_df.drop_duplicates()
heart_disease_df.shape # sem duplicatas

(745, 12)

### Removendo valores nulos

In [150]:
heart_disease_df.isnull().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

### Removendo números zerados onde não faz sentido

In [153]:
heart_disease_numeric_columns = []
for column in heart_disease_df.columns:
  if (heart_disease_df[column].dtype in ['int64', 'float64']): heart_disease_numeric_columns.append(column)
print(heart_disease_numeric_columns)

['age', 'resting bp s', 'cholesterol', 'max heart rate', 'oldpeak']

In [162]:
exceptions = ['oldpeak']
for numeric_column in heart_disease_numeric_columns:
  if (numeric_column in exceptions): continue
  without_zeros_df = heart_disease_df[ heart_disease_df[numeric_column] != 0 ]
  heart_disease_df = without_zeros_df

In [163]:
print(f'\n3 smallest data')
display(heart_disease_df.nsmallest(3, columns=heart_disease_numeric_columns))
print(f'\n3 largest data')
display(heart_disease_df.nlargest(3, columns=heart_disease_numeric_columns))

3 smallest data

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
209,28,M,atypical angina,130,132,False,showing probable or definite left ventricular ...,185,False,0.0,upsloping,normal
171,29,M,atypical angina,120,243,False,normal,160,False,0.0,upsloping,normal
831,29,M,atypical angina,130,204,False,showing probable or definite left ventricular ...,202,False,0.0,upsloping,normal

3 largest data

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
816,77,M,asymptomatic,125,304,False,showing probable or definite left ventricular ...,162,True,0.0,upsloping,heart disease
448,77,M,asymptomatic,124,171,False,having ST-T wave abnormality,110,True,2.0,upsloping,heart disease
690,76,F,non-anginal pain,140,197,False,having ST-T wave abnormality,116,False,1.1,flat,normal

In [177]:
heart_disease_df.min()

age                                              28
sex                                               F
chest pain type                        asymptomatic
resting bp s                                     92
cholesterol                                      85
fasting blood sugar                           False
resting ecg            having ST-T wave abnormality
max heart rate                                   69
exercise angina                               False
oldpeak                                        -0.1
ST slope                                downsloping
target                                heart disease
dtype: object

### Visualização final dos dados

In [164]:
display(diabetes_df)

    Gender  AGE  Urea   Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7   46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5   62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
4        M   33   7.1   46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
5        F   45   2.3   24    4.0   2.9  1.0  1.0  1.5   0.4  21.0     N
6        F   50   2.0   50    4.0   3.6  1.3  0.9  2.1   0.6  24.0     N
..     ...  ...   ...  ...    ...   ...  ...  ...  ...   ...   ...   ...
990      F   57   4.1   70    9.3   5.3  3.3  1.0  1.4   1.3  29.0     Y
992      M   55   3.1   39    8.5   5.0  2.5  1.9  2.9   0.7  27.0     Y
993      M   28   3.5   61    8.5   4.5  1.9  1.1  2.6   0.8  37.0     Y
994      M   69  10.3  185    7.7   4.9  1.9  1.2  3.0   0.7  37.0     Y
995      M   71  11.0   97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y

[826 rows x 12 columns]

## Tratando os dados do dataframe de câncer de mama

In [172]:
breast_cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   Grade                   4024 non-null   object
 7   A Stage                 4024 non-null   object
 8   Tumor Size              4024 non-null   int64
 9   Estrogen Status         4024 non-null   object
 10  Progesterone Status     4024 non-null   object
 11  Regional Node Examined  4024 non-null   int64
 12  Reginol Node Positive   4024 non-null   int64
 13  Survival Months         4024 non-null   int64
 14  Status                  4024 non-null   object
dtypes: int64(5), object(10)
memory usage: 471.7+ KB

### Ajustando valores

In [ ]:
breast_cancer_df = breast_cancer_df.drop(columns=['Unnamed: 3']).reset_index(drop=True)

In [178]:
breast_cancer_df.head()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead

### Removendo duplicatas

In [179]:
breast_cancer_df.shape

(4024, 15)

In [180]:
breast_cancer_df = breast_cancer_df.drop_duplicates()
breast_cancer_df.shape # sem duplicatas

(4023, 15)

### Removendo valores nulos

In [181]:
breast_cancer_df.isnull().sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

### Removendo números zerados onde não faz sentido

In [182]:
breast_cancer_df.min()

Age                                                        30
Race                                                    Black
Marital Status                                       Divorced
T Stage                                                    T1
N Stage                                                    N1
6th Stage                                                 IIA
Grade                     Moderately differentiated; Grade II
A Stage                                               Distant
Tumor Size                                                  1
Estrogen Status                                      Negative
Progesterone Status                                  Negative
Regional Node Examined                                      1
Reginol Node Positive                                       1
Survival Months                                             1
Status                                                  Alive
dtype: object