<a href="https://colab.research.google.com/github/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/blob/main/Projeto_Ciencia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importação das bibliotecas utilizadas no projeto

In [ ]:
import pandas as pd

# Carregamento das bases de dados

> ## [Base de dados de doenças cardíacas](https://ieee-dataport.org/open-access/heart-disease-dataset-comprehensive)

>> <p align= "justify">Este conjunto de dados de doenças cardíacas foi feito a partir da combinação de 5 conjuntos de dados populares de doenças cardíacas já disponíveis de forma independente. Este conjunto de dados é combinado em 11 características comuns, o que o torna o maior conjunto de dados de doenças cardíacas disponível até agora para fins de pesquisa. Os cinco conjuntos de dados usados para sua criação foram:</p>

>>- Cleveland
>>- húngaro
>>- Suíça
>>- Long Beach VA
>>- Conjunto de dados Statlog (coração).

> ## [Base de dados de cancêr de mama](https://ieee-dataport.org/open-access/seer-breast-cancer-data)


>> <p align= "justify">Este conjunto de dados de pacientes com câncer de mama foi obtido da atualização de novembro de 2017 do Programa SEER do NCI, que fornece informações sobre estatísticas populacionais de câncer. O conjunto de dados envolveu pacientes do sexo feminino com carcinoma lobular e ducto infiltrante diagnosticados em 2006-2010. Pacientes com tamanho de tumor desconhecido, LNs regionais examinados, LNs regionais positivos e pacientes cujos meses de sobrevida foram inferiores a 1 mês foram excluídos.</p>

>## [Base de dados de diabetes](https://data.mendeley.com/datasets/wj9rwkp9c2/1)

>><p align= "justify">Os dados foram coletados da sociedade iraquiana, sendo adquiridos do laboratório do Medical City Hospital, do Centro Especializado de Endocrinologia e do Hospital Universitário Diabetes-Al-Kindy. Os dados consistem em informações médicas e análises laboratoriais.</p>

In [ ]:
diabetes_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/DIABETES%20DISEASE%20UPDATED%20DATASET/Dataset%20of%20Diabetes%20.csv')
heart_disease_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/HEART%20DISEASE%20DATASET/heart_statlog_cleveland_hungary_final.csv')
breast_cancer_df = pd.read_csv('https://raw.githubusercontent.com/Raphael-Marchetti-Calciolari/projects-data-science-diseases-ieee-dataport/main/datasets/SEER%20BREAST%20CANCER%20DATA/SEER%20Breast%20Cancer%20Dataset%20.csv')

# Visualização dos dados

In [ ]:
diabetes_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [ ]:
heart_disease_df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [ ]:
breast_cancer_df.head()

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead

# Transformação

## Tratando os dados do dataframe de diabetes

### Ajustando valores

In [ ]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [ ]:
# N = não diabético, P = possivel diabético, Y = diabético
diabetes_df['CLASS'] = (diabetes_df['CLASS']
                          .replace('N ', 'N')
                          .replace('Y ', 'Y'))
diabetes_df['CLASS'].unique()

array(['N', 'P', 'Y'], dtype=object)

In [ ]:
# F = female, M = male
diabetes_df['Gender'] = diabetes_df['Gender'].replace('f', 'F')
diabetes_df['Gender'].unique()

array(['F', 'M'], dtype=object)

### Removendo duplicatas

### Removendo valores nulos

### Removendo números zerados onde não faz sentido

## Tratando os dados do dataframe de doenças cardíacas

### Ajustando valores

In [ ]:
heart_disease_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1189 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1189 non-null   int64
 1   sex                  1189 non-null   object
 2   chest pain type      1189 non-null   object
 3   resting bp s         1189 non-null   int64
 4   cholesterol          1189 non-null   int64
 5   fasting blood sugar  1189 non-null   bool
 6   resting ecg          1189 non-null   object
 7   max heart rate       1189 non-null   int64
 8   exercise angina      1189 non-null   bool
 9   oldpeak              1189 non-null   float64
 10  ST slope             1189 non-null   object
 11  target               1189 non-null   object
dtypes: bool(2), float64(1), int64(4), object(5)
memory usage: 104.5+ KB

In [ ]:
heart_disease_df.sex = (heart_disease_df
                          .sex.replace(1, 'M')
                          .replace(0, 'F'))
heart_disease_df.sex.unique()

array(['M', 'F'], dtype=object)

In [ ]:
heart_disease_df['chest pain type'] = (heart_disease_df['chest pain type']
                                        .replace(1, 'typical angina')
                                        .replace(2, 'atypical angina')
                                        .replace(3, 'non-anginal pain')
                                        .replace(4, 'asymptomatic'))
heart_disease_df['chest pain type'].unique()

array(['atypical angina', 'non-anginal pain', 'asymptomatic',
       'typical angina'], dtype=object)

In [ ]:
heart_disease_df['fasting blood sugar'] = (heart_disease_df['fasting blood sugar']
                                            .replace(1, True)
                                            .replace(0, False))
heart_disease_df['fasting blood sugar'].unique()

array([False,  True])

In [ ]:
heart_disease_df['resting ecg'] = (heart_disease_df['resting ecg']
                                    .replace(0, 'normal')
                                    .replace(1, 'having ST-T wave abnormality')
                                    .replace(2, 'showing probable or definite left ventricular hypertrophy by Estes\' criteria'))
heart_disease_df['resting ecg'].unique()

array(['normal', 'having ST-T wave abnormality',
       "showing probable or definite left ventricular hypertrophy by Estes' criteria"],
      dtype=object)

In [ ]:
heart_disease_df['exercise angina'] = (heart_disease_df['exercise angina']
                                        .replace(1, True)
                                        .replace(0, False))
heart_disease_df['exercise angina'].unique()

array([False,  True])

#### Foi identificado apenas 1 linha com o valor 0, como demonstrado abaixo. Assim este valor desconhecido deve ser removido do dataframe

In [ ]:
heart_disease_df.groupby('ST slope').count()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,target
ST slope,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,1
1,526,526,526,526,526,526,526,526,526,526,526
2,582,582,582,582,582,582,582,582,582,582,582
3,81,81,81,81,81,81,81,81,81,81,81

In [ ]:
# Removing unknown value
heart_disease_df = heart_disease_df.loc[ heart_disease_df['ST slope'] != 0]
heart_disease_df['ST slope'] = (heart_disease_df['ST slope']
                                  .replace(1, 'upsloping')
                                  .replace(2, 'flat')
                                  .replace(3, 'downsloping'))
heart_disease_df['ST slope'].unique()

<ipython-input-293-9da12bbb3dd1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart_disease_df['ST slope'] = (heart_disease_df['ST slope']

array(['upsloping', 'flat', 'downsloping'], dtype=object)

In [ ]:
heart_disease_df['target'] = (heart_disease_df['target']
                                .replace(1, 'heart disease')
                                .replace(0, 'normal'))
heart_disease_df['target'].unique()

array(['normal', 'heart disease'], dtype=object)

### Removendo duplicatas

### Removendo valores nulos

### Removendo números zerados onde não faz sentido

## Tratando os dados do dataframe de câncer de mama

In [ ]:
breast_cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   Unnamed: 3              0 non-null      float64
 4   T Stage                 4024 non-null   object
 5   N Stage                 4024 non-null   object
 6   6th Stage               4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 503.1+ KB

### Ajustando valores

### Removendo duplicatas

### Removendo valores nulos

### Removendo números zerados onde não faz sentido